<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrekClub</title>
</head>
<body>
    <header>
        <h1 style="text-align: center; margin-top: 0;">TrekClub</h1>
        <h3 style="text-align: center; margin-top: 0;">Trekking Management Portal</h3>
    </header>
    <nav>
        <a href="/">Home</a>
    </nav>
    <hr>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <hr>
    <footer>
        <p>© 2026 TrekClub | All Rights Reserved.</p>
    </footer>
</body>
</html>